<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexcent</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="whole-body">
        <div id="first-page">
            <nav id="navbar">
                <div id="logo">
                    <img src="/assets/icon/Icon.svg" alt="nexcent logo">
                    <h3>Nexcent</h3>
                </div>
                <ul id="navbar-elements">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div id="button">
                    <button id="login" type="button">Login</button>
                    <button id="signup" type="button">Signup</button>
                </div>
            </nav>
            <div id="first-section">
                <div id="text">
                    <p id="large-text">Lessons and insights <span id="span"><br>from 8 years</span></p>
                    <p id="small-text">Where to grow your business as a photographer: site or social media?</p>
                    <button id="register-button" type="button">Register</button>
                </div>
                <img src="/assets/image/image.svg" alt="man checking a system">
            </div>
        </div>
        <div id="second-page">
            <p class="second-page" id="clients">Our Clients</p>
            <p class="second-page" id="clients-text">We have been working with some Fortune 500+ clients</p>
            <div class="second-page" id="horizontal-logos">
                <ul>
                    <li><img src="/assets/icon/first-icon.svg" alt="first-icon"></a></li>
                    <li><img src="/assets/icon/second-icon.svg" alt="second-icon"></a></li>
                    <li><img src="/assets/icon/third-icon.svg" alt="third-icon"></a></li>
                    <li><img src="/assets/icon/fourth-icon.svg" alt="fourth-icon"></a></li>
                    <li><img src="/assets/icon/fifth-icon.svg" alt="fifth-icon"></a></li>
                    <li><img src="/assets/icon/sixth-icon.svg" alt="sixth-icon"></a></li>
                    <li><img src="/assets/icon/third-icon.svg" alt="seventh-icon"></a></li>

                </ul>
            </div>
            <div id="community">
                <p class="community-para">Manage your entire community <br>
                    in a single system </p>
                <p id="community-para">Who is Nextcent suitable for?</p>
            </div>
            <div id="blocks">
                <div id="first-block">
                    <img src="/assets/icon/first-block-icon.svg" alt="first-block-icon">
                    <p class="blocks-heading">Membership <br>Organisations</p>
                    <p class="blocks-body">Our membership management <br>
                        software provides full automation of <br>
                         membership renewals and payments</p>
                </div>
                <div id="second-block">
                    <img src="/assets/icon/second-block-icon.svg" alt="second-block-icon">
                    <p class="blocks-heading">National <br>Associations</p>
                    <p class="blocks-body">Our membership management software <br>
                        provides full automation of <br>
                        membership renewals and payments
                    </p>
                </div>
                <div id="third-block">
                    <img src="/assets/icon/third-block-icon.svg" alt="first-block-icon">
                    <p class="blocks-heading">Clubs And <br>Groups</p>
                    <p class="blocks-body">Our membership management <br>
                        software provides full automation of <br>
                         membership renewals and payments</p>
                </div>
            </div>
        </div>   
        <div id="third-page">
            <div id="third-page-picture">
                <img src="/assets/image/second-image.svg" alt="second-image">
            </div>
            <div id="third-page-text">
                <p id="third-page-first-text">The unseen of spending three <br>years at Pixelgrade</p>
                <p id="third-page-second-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                     Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. <br>
                      Pellentesque placerat vestibulum lorem sed porta. <br>
                       Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. <br>
                       Etiam quis massa pulvinar, aliquam quam vitae,<br>
                     tempus sem. Donec elementum pulvinar odio.</p>
                <button title="learn-more" type="button">Learn More</button>
            </div>
        </div>
        <div id="achievement-page">
            <div id="achievement-page-text">
                <p>Helping a local <br><span>business reinvent itself</span> </p>
                <p>We reached here with our hard work and dedication</p>
            </div>
            <div id="achievement-page-">
                <div id="achievement-page-first-block">
                    <div id="achievement-first">
                        <img src="/assets/icon/Icon2.png" alt="icon">
                        <p>2,245,341 <br><span>Members</span></p>
                    </div>
                    <div id="achievement-second">
                        <img src="/assets/icon/Icon.png" alt="icon">
                        <p>46,328 <br><span>Clubs</span></p>
                    </div>    
                </div>
                <div id="achievement-page-second-block">
                    <div id="achievement-third">
                        <img src="/assets/icon/second-acievement.svg" alt="icon">
                        <p>828,867 <br><span>Event Bookings</span></p>
                    </div>
                    <div id="achievement-fourth">
                        <img src="/assets/icon/fourth-achievement.svg" alt="icon">
                        <p>1,926,436 <br><span>Payments</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>