<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nexcent</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div id="whole-body">
        <div id="first-page">
            <nav id="navbar">
                <div id="logo">
                    <img src="/assets/icon/Icon.svg" alt="nexcent logo">
                    <h3>Nexcent</h3>
                </div>
                <ul id="navbar-elements">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Service</a></li>
                    <li><a href="#">Feature</a></li>
                    <li><a href="#">Product</a></li>
                    <li><a href="#">Testimonial</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
                <div id="button">
                    <button id="login" type="button">Login</button>
                    <button id="signup" type="button">Signup</button>
                </div>
            </nav>
            <div id="first-section">
                <div id="text">
                    <p id="large-text">Lessons and insights <span id="span"><br>from 8 years</span></p>
                    <p id="small-text">Where to grow your business as a photographer: site or social media?</p>
                    <button id="register-button" type="button">Register</button>
                </div>
                <img src="/assets/image/image.svg" alt="man checking a system">
            </div>
        </div>
        <div id="second-page">
            <p class="second-page" id="clients">Our Clients</p>
            <p class="second-page" id="clients-text">We have been working with some Fortune 500+ clients</p>
            <div class="second-page" id="horizontal-logos">
                <ul>
                    <li><img src="/assets/icon/first-icon.svg" alt="first-icon"></a></li>
                    <li><img src="/assets/icon/second-icon.svg" alt="second-icon"></a></li>
                    <li><img src="/assets/icon/third-icon.svg" alt="third-icon"></a></li>
                    <li><img src="/assets/icon/fourth-icon.svg" alt="fourth-icon"></a></li>
                    <li><img src="/assets/icon/fifth-icon.svg" alt="fifth-icon"></a></li>
                    <li><img src="/assets/icon/sixth-icon.svg" alt="sixth-icon"></a></li>
                    <li><img src="/assets/icon/third-icon.svg" alt="seventh-icon"></a></li>

                </ul>
            </div>
            <div id="community">
                <p class="community-para">Manage your entire community <br>
                    in a single system </p>
                <p id="community-para">Who is Nextcent suitable for?</p>
            </div>
            <div id="blocks">
                <div id="first-block">
                    <img src="/assets/icon/first-block-icon.svg" alt="first-block-icon">
                    <p class="blocks-heading">Membership <br>Organisations</p>
                    <p class="blocks-body">Our membership management <br>
                        software provides full automation of <br>
                         membership renewals and payments</p>
                </div>
                <div id="second-block">
                    <img src="/assets/icon/second-block-icon.svg" alt="second-block-icon">
                    <p class="blocks-heading">National <br>Associations</p>
                    <p class="blocks-body">Our membership management software <br>
                        provides full automation of <br>
                        membership renewals and payments
                    </p>
                </div>
                <div id="third-block">
                    <img src="/assets/icon/third-block-icon.svg" alt="first-block-icon">
                    <p class="blocks-heading">Clubs And <br>Groups</p>
                    <p class="blocks-body">Our membership management <br>
                        software provides full automation of <br>
                         membership renewals and payments</p>
                </div>
            </div>
        </div>   
        <div id="third-page">
            <div id="third-page-picture">
                <img src="/assets/image/second-image.svg" alt="second-image">
            </div>
            <div id="third-page-text">
                <p id="third-page-first-text">The unseen of spending three <br>years at Pixelgrade</p>
                <p id="third-page-second-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <br>
                     Sed sit amet justo ipsum. Sed accumsan quam vitae est varius fringilla. <br>
                      Pellentesque placerat vestibulum lorem sed porta. <br>
                       Nullam mattis tristique iaculis. Nullam pulvinar sit amet risus pretium auctor. <br>
                       Etiam quis massa pulvinar, aliquam quam vitae,<br>
                     tempus sem. Donec elementum pulvinar odio.</p>
                <button title="learn-more" type="button">Learn More</button>
            </div>
        </div>
        <div id="achievement-page">
            <div class="achievement-page-text">
                <p id="achievement-page-text-big">Helping a local <br><span>business reinvent itself</span> </p>
                <p id="achievement-page-text-small">We reached here with our hard work and dedication</p>
            </div>
            <div id="achievement-page-block">
                <div id="achievement-page-first-block">
                    <div id="achievement-first">
                        <img src="/assets/icon/Icon2.png" alt="icon">
                        <div>
                            <p class="big-text">2,245,341</p>
                            <p class="small-text">Members</p>
                        </div>
                        
                    </div>
                    <div id="achievement-second">
                        <img src="/assets/icon/Icon.png" alt="icon">
                        <div>
                            <p class="big-text">46,328</p>
                            <p class="small-text">Clubs</p>
                        </div>
                        

                    </div>    
                </div>
                <div id="achievement-page-second-block">
                    <div id="achievement-third">
                        <img src="/assets/icon/second-acievement.svg" alt="icon">
                        <div>
                            <p class="big-text">828,867</p>
                            <p class="small-text">Event Bookings</p>
                        </div>
                        
                    </div>
                    <div id="achievement-fourth">
                        <img src="/assets/icon/fourth-achievement.svg" alt="icon">
                        <div>
                            <p class="big-text">1,926,436</p>
                            <p class="small-text">Payments</p>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div id="unlock-page">
            <div id="unlock-page-image">
                <img src="/assets/image/unlock-image.png" alt="unlock-page">
            </div>
            <div id="unlock-page-text">
                <p id="unlock-page-text-big">How to design your site footer like <br> we did</p>
                <p id="unlock-page-text-small">Donec a eros justo. Fusce egestas tristique ultrices. <br>
                    Nam tempor, augue nec tincidunt molestie, massa nunc varius <br>
                     arcu, at scelerisque elit erat a magna. Donec quis erat at <br>
                     libero ultrices mollis. In hac habitasse platea dictumst. <br>
                     Vivamus vehicula leo dui, at porta nisi facilisis finibus. <br>
                     In euismod augue vitae nisi ultricies, non aliquet urna tincidunt. <br>
                     Integer in nisi eget nulla commodo faucibus efficitur quis massa. <br>
                     Praesent felis est, finibus et nisi ac, hendrerit venenatis libero. <br>
                    Donec consectetur faucibus ipsum id gravida.</p>
                <button title="button" type="button" id="unlock-page-button">Learn-more</button>
            </div>
        </div>
        <div id="customer-page">
            <div id="customer-page-image">
                <img src="/assets/image/customer-image.svg" alt="customer-image">
            </div>
            <div id="customer-page-text">
                <p id="customer-page-small-text">
                    Maecenas dignissim justo eget nulla rutrum molestie. Maecenas lobortis sem dui, vel rutrum <br>
                     risus tincidunt ullamcorper. Proin eu enim metus. Vivamus sed libero ornare, tristique quam in, gravida <br>
                      enim. Nullam ut molestie arcu, at hendrerit elit. Morbi laoreet elit at ligula molestie, nec molestie <br> 
                      mi blandit. Suspendisse cursus tellus sed augue ultrices, quis tristique nulla sodales. Suspendisse <br>
                      eget lorem eu turpis vestibulum pretium. Suspendisse potenti.Quisque malesuada enim sapien, <br>
                      vitae placerat ante feugiat eget. Quisque vulputate odio neque, eget efficitur libero condimentum <br>
                      id. Curabitur id nibh id sem dignissim finibus ac sit amet magna.
                </p>
                <p id="customer-page-name">Tim Smith</p>
                <p id="customer-page-description">British Dragon Boat Racing Association</p>
                <div id="customer-page-icons">
                    <img src="/assets/icon/customer-one.svg" alt="icon">
                    <img src="/assets/icon/customer-two.svg" alt="icon">
                    <img src="/assets/icon/customer-three.svg" alt="icon">
                    <img src="/assets/icon/customer-four.svg" alt="icon">
                    <img src="/assets/icon/customer-five.svg" alt="icon">
                    <img src="/assets/icon/customer-six.svg" alt="icon">
                    <div id="customer-page-arrow">
                        <p>Meet all customers</p>
                        <button type="button"><img src="/assets/icon/arrow.svg" alt="arrow"></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>